venv/
env*
build/
*.pyc
*.egg-info/
dist/
settings.cfg
*.log*
otterwiki/__pycache__
repository
*.sqlite
.coverage
coverage_html
app-data*
settings.cfg
tmp
docker-compose.override.yml
.env
.flaskenv
.tox
.idea
otterwiki*.tgz
