[project]
name = "otterwiki"
description = "An Otter Wiki is Python-based software for collaborative content management, called a wiki. The content is stored in a git repository, which keeps track of all changes. Markdown is used as markup language."
authors = [
    { name = "Ralph Thesen", email = "mail@redimp.de" }
    ]
readme = "README.md"
license = {file = "LICENSE"}
requires-python = ">=3.7"
dynamic = ["version"]
dependencies = [
    "Werkzeug==2.3.6",
    "Flask-Login==0.6.2",
    "Flask-Mail==0.9.1",
    "SQLAlchemy==2.0.4",
    "Flask-SQLAlchemy==3.0.3",
    "Flask==2.3.2",
    "Jinja2==3.1.2",
    "gitpython==3.1.32",
    "cython==0.29.33",
    "mistune==2.0.5",
    "pygments==2.15.0",
    "Pillow==9.4.0",
    "unidiff==0.7.4",
    "flask-htmlmin==2.2.1",
    "bleach[css]==6.0.0",
]

[project.urls]
repository = "https://github.com/redimp/otterwiki"

[project.optional-dependencies]
dev = [
    "coverage",
    "pytest",
    "black",
    "tox",
    "tbump",
    ]

[build-system]
requires = [
    "setuptools",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["otterwiki"]

[tool.setuptools.dynamic]
version = {attr = "otterwiki.version.__version__"}

[tool.black]
# The default line length in black is 88 characters, in defiance of
# pep8, which mandates 79 characters. However, consistency with pep8
# is better than inconsistency.
line-length = 79
# Do not enforce double-quoted strings
skip-string-normalization = true

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
[testenv]
deps = pytest
commands =
    pytest tests
"""

[tool.pytest.ini_options]
testpaths = ["./tests"]
filterwarnings = [
    # venv/lib/python3.11/site-packages/htmlmin/main.py:28: DeprecationWarning: 'cgi' is deprecated and slated for removal in Python 3.13
    "ignore: 'cgi' is deprecated:DeprecationWarning",
    # /venv/lib/python3.11/site-packages/flask_login/utils.py:126: DeprecationWarning: 'werkzeug.urls.url_decode' is deprecated and will be removed in Werkzeug 2.4. Use 'urllib.parse.parse_qs' instead.
    "ignore: 'werkzeug.urls.url_decode' is deprecated:DeprecationWarning",
    # venv/lib/python3.11/site-packages/flask_login/utils.py:130: DeprecationWarning: 'werkzeug.urls.url_encode' is deprecated and will be removed in Werkzeug 2.4. Use 'urllib.parse.urlencode' instead.
    "ignore: 'werkzeug.urls.url_encode' is deprecated:DeprecationWarning",
]

# vim: set et ts=8 sts=4 sw=4 ai fenc=utf-8:
