[version]
current = "2.17.2"
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  (\-
    (?P<extra>.+)
  )?
  '''

[git]
message_template = 'Bump to {new_version}'
tag_template = 'v{new_version}'

[[before_commit]]
name = 'Run make test'
cmd = 'make test'

[[before_commit]]
name = "Check Changelog"
cmd = "grep -q -F {new_version} CHANGELOG.md"

[[file]]
src = 'otterwiki/version.py'
version_template = '({major}, {minor}, {patch}, "{extra}")'
search = "version_info = {current_version}"

[[field]]
# the name of the field
name = "extra"
# the default value to use, if there is no match
default = ""
