{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
                    <a href="{{ url_for('attachments', pagepath=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fa fa-paperclip"></i>
                        </span>
                        Attachments
                    </a>
                    <a href="{{ url_for('history', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-file-alt"></i>
                        </span>
                        History
                    </a>
                    <a href="{{ url_for('blame', path=pagepath, revision=revision) if revision else url_for('blame', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fas fa-people-arrows"></i>
                        </span>
                        Blame
                    </a>
{%- if has_permission('READ') and not has_permission('WRITE') %}
                    <a href="{{ url_for('source', pagepath=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fab fa-markdown"></i>
                        </span>
                        View Source
                    </a>
{%- endif %}
{%- include 'snippets/navbardropdown_rename_remove.html' %}
                    <div class="dropdown-divider mt-5 mb-5"></div>
