{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
{% if has_permission('WRITE') %}
                    <a href="{{ url_for('rename', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-edit"></i>
                        </span>
                        Rename
                    </a>
                    <a href="{{ url_for('delete', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-trash-alt"></i>
                        </span>
                        Delete
                    </a>
{% endif %}
