{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
<script src="{{ url_for("static", filename="js/polyfill.e6.min.js") }}"></script>
<script id="MathJax-script" async src="{{ url_for("static", filename="mathjax/tex-chtml.js") }}"></script>
<script src="{{ url_for("static", filename="js/mermaid@11.2.0.min.js") }}"></script>
<script type="text/javascript">
    mermaid.initialize({
{%- if request.cookies.get('halfmoon_preferredMode') == "dark-mode" %}
      theme: 'dark',
{%- else %}
      theme: 'neutral',
{%- endif %}
    });
</script>
