{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "form.html" %}
{% block formcontent %}
<form action="{{url_for("create")}}" method="POST" class="form-inline">{# class="w-400 mw-full" <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% --> #}
  <div class="form-group">
    <label for="pagename" class="required">Page name</label>
    <input type="text" class="form-control" name="pagename" id="pagename" placeholder="Page name" required="required" value="{{ pagename if pagename }}" autofocus>
  </div>
  <div class="form-group">
    <div class="form-text text-wrap">
        Hint: Avoid abbreviations. Try to limit your name to three simple words or fewer.
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Create and open in editor">
</form>
{% endblock %}
