{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "page.html" %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1" style="margin-left:auto; margin-right:auto;">
<form class="pure-form pure-form-aligned" method="POST" action="{{ url_for('.delete', pagename=pagename) }}">
    <fieldset>
        <em>Do you want to delete</em> <strong>{{pagename}}</strong>?<br><br>
        <button type="submit" class="button-danger pure-button">Yes</button>

        <input type="text" value="Commit message: Deleted {{pagename}}." name="message"  class="pure-input-1-2"> 
    </fieldset>
</form>
    </div>
</div>
{% endblock %}

