{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% if pagepath %}
{% extends "page.html" %}
{% else %}
{% extends "wiki.html" %}
{% endif %}
{% from "snippets/diff_side_by_side.html" import diff_side_by_side %}

{%block head -%}
{{- super() }}
{%- if not revision %}
    <meta name="robots" content="noindex, nofollow"/>
{%- endif %}
{% endblock head -%}

{% block menu %}
{{ super() }}
{% if not pagepath %}
{% include 'snippets/menu.html' %}
{% if menutree %}
{% include 'snippets/menutree.html' %}
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<div class="w-full mw-full p-0 clearfix">
{% if rev_a and rev_b %}
<nav aria-label="Diff view" class="float-right ml-10 mb-10">
<div class="btn-group" role="group">
  <a class="btn{% if view == 'inline' %} active{% endif %}" href="{{ url_for('diff', path=pagepath, rev_a=rev_a, rev_b=rev_b, view='inline') }}"{% if view == 'inline' %} aria-current="true"{% endif %}>Inline</a>
  <a class="btn{% if view == 'side-by-side' %} active{% endif %}" href="{{ url_for('diff', path=pagepath, rev_a=rev_a, rev_b=rev_b, view='side-by-side') }}"{% if view == 'side-by-side' %} aria-current="true"{% endif %}>Side by side</a>
</div>
</nav>
{% if prev_url or next_url %}
<nav aria-label="Edit navigation" class="float-right ml-10 mb-10">
<div class="btn-group" role="group">
  {% if prev_url %}
  <a class="btn" href="{{ prev_url }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous edit</a>
  {% else %}
  <span class="btn disabled"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous edit</span>
  {% endif %}
  {% if next_url %}
  <a class="btn" href="{{ next_url }}">Next edit <i class="fa fa-angle-right" aria-hidden="true"></i></a>
  {% else %}
  <span class="btn disabled">Next edit <i class="fa fa-angle-right" aria-hidden="true"></i></span>
  {% endif %}
</div>
</nav>
{% endif %}
    <h3>Comparing <tt>{{rev_a}}</tt> to <tt>{{rev_b}}</tt></h3>
{% macro revision_metadata(rev, metadata) %}
          <tr class="align-top">
            <td class="font-size-12 min text-nowrap diff-color" style="border-left-color: #{{rev[:6]}};">
{%- if metadata %}<a href="{{ url_for('view', path=pagepath, revision=rev) }}"><span class="datetime" title="{{metadata.datetime|format_datetime("deltanow")}} ago">{{metadata.datetime|format_datetime}}</span></a> {% endif -%}
<a href="{{ url_for('show_commit', revision=rev) }}" class="btn revision-small">{{rev}}</a></td>
            <td class="min text-nowrap">{%- if metadata %}{%if not metadata.author_email%}{{metadata.author_name}}{%else%}<a href="mailto:{{metadata.author_email}}">{{metadata.author_name}}</a>{%endif%}{% endif %}</td>
            <td class="text-wrap diff-revision-message">{% if metadata %}{{metadata.message or '-/-'}}{% endif %}</td>
          </tr>
{% endmacro %}
<div class="table-responsive table-striped diff-revisions">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Author</th>
        <th class="w-half">Commit Message</th>
      </tr>
    </thead>
    <tbody>
{{ revision_metadata(rev_a, metadata_a) }}
{{ revision_metadata(rev_b, metadata_b) }}
    </tbody>
  </table>
</div>
{% elif revision %}
    <h3>Commit <tt>{{revision}}</tt></h3>
{% endif %}
{% if metadata %}
<span class="datetime" title="{{metadata.datetime|format_datetime("deltanow")}} ago">{{metadata.datetime|format_datetime}}</span>
{%if not metadata.author_email%}{{metadata.author_name}}{%else%}<a href="mailto:{{metadata.author_email}}">{{metadata.author_name}}</a>{%endif%}:
{{metadata.message or '-/-'}}
{%endif%}
{% if side_by_side %}
{%- macro side_header(file, url, rev) -%}
{%- if url %}<a href="{{ url }}"><tt>{{ file }}</tt></a>{% else %}<tt>{{ file }}</tt>{% endif %}
 <a href="{{ url_for('show_commit', revision=rev) }}" class="revision-small">{{ rev }}</a>
{%- endmacro %}
{% for file in patchset %}
{%- if file.path in side_by_side %}
{%- set urlobj = url_map[file.path] %}
{% call diff_side_by_side(side_by_side[file.path], color_a=rev_a[:6], color_b=rev_b[:6]) %}
<tr>
  <th class="diff-header" colspan="2">{{ side_header(urlobj.source_file, urlobj.source_url, rev_a) }}</th>
  <th class="diff-header" colspan="2">{{ side_header(urlobj.target_file, urlobj.target_url, rev_b) }}</th>
</tr>
{% endcall %}
{%- endif %}
{% endfor %}
{% else %}
{# color the changed lines like the commit they belong to #}
{% set colorcolumn = rev_a and rev_b %}
{% set colspan = 2 + (2 if withlinenumbers else 0) %}
<table class="diff">
{% for file in patchset %}
{% with filename=file.path,lines=file_diffs[file.path],urlobj=url_map[file.path] %}
{# {{filename}} {{lines}} {{file}} #}
{%- if not page_filenames or filename in page_filenames %}
<tr>
<td class="filename" colspan="{{colspan}}">
{%- if urlobj.source_file == urlobj.target_file %}
    <tt>{{urlobj.source_file}}</tt> <a href="{{urlobj.source_url}}" class="revision-small">{{rev_a}}</a> ..
    <a href="{{urlobj.target_url}}" class="revision-small">{{rev_b}}</a>
{%- else %}
    {%- if urlobj.source_url %}
    <a href="{{urlobj.source_url}}"><tt>{{urlobj.source_file}}</tt></a>
    {%- else %}
    <tt>{{urlobj.source_file}}</tt>
    {%- endif %}
    ..
    {%- if urlobj.target_url %}
    <a href="{{urlobj.target_url}}"><tt>{{urlobj.target_file}}</tt></a>
    {%- else %}
    <tt>{{urlobj.target_file}}</tt>
    {%- endif %}
{%- endif %}
{#
{%- elif rev_a and rev_b %}
    <tt>{{url_map[filename][0][0]}}</tt> <a href="{{url_map[filename][0][1]}}" class="revision-small">{{rev_a}}</a> .. <a href="{{url_map[filename][1][1]}}" class="revision-small">{{rev_b}}</a>
    {%- endif %}
#}
</td>
</tr>
{% for l in lines %}
<tr class="{{l.style}}">
{%- if l.style == "hunk" %}
<td class="hunk" colspan="{{colspan}}">{{l.value}}</td>
{%- else %}
{%- set color = none -%}
{%- if colorcolumn and l.style == "removed" %}{% set color = rev_a[:6] %}{% elif colorcolumn and l.style == "added" %}{% set color = rev_b[:6] %}{% endif -%}
{%- set firstcell = ' class="diff-decoration diff-color"' ~ (' style="border-left-color: #' ~ color ~ ';"' if color else '') if colorcolumn else ' class="diff-decoration"' -%}
{%-if withlinenumbers -%}
    <td{{ firstcell|safe }}>{{l.source}}</td>
    <td class="diff-decoration">{{l.target}}</td>
    <td class="diff-decoration">{{l.type}}</td>
{%- else -%}
    <td{{ firstcell|safe }}>{{l.type}}</td>
{%- endif -%}
    <td class="value">{{l.value | replace('\n', '')}}</td>
{%- endif -%}
</tr>
{%- endfor -%}{# l in lines #}
{%- else -%}
<!-- skipped filename={{filename}} -->
{%- endif %}
{% endwith %}{# filename,lines in file_diffs #}
{% endfor %}{# filename,lines in file_diffs #}
</table>
{% endif %}{# side_by_side #}
{######}
{% endblock %}
