{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "preview.html" %}
{#
    Head
#}
{% block head %}
<style type="text/css" media="screen">
</style>
<link href="{{ url_for("static", filename="css/codemirror.css") | debug_unixtime }}" rel="stylesheet" />
{% endblock %}
{#
    Navbar
#}
{% block navbar %}
<a href="{{ url_for('view', path=pagepath) }}" class="btn btn-danger mr-5" role="button"><i class="fas fa-window-close"></i></a>
<button class="btn btn-success mr-5" onclick="otterwiki.toggleModal('modal-commit')"><i class="fas fa-save"></i></a>
<button type="submit" class="btn btn-primary" form="pagecontent"><i class="far fa-eye"></i></button>
{% endblock %}
{#
    Sidebar Menu
#}
{% block menu %}
{{ super() }}
                <a href="{{ url_for("syntax") }}" class="sidebar-link sidebar-link-with-icon" target="_blank">
                    <span class="sidebar-icon">
                        <i class="fab fa-markdown"></i>
                    </span>
                    Markdown Syntax
                </a>
{% endblock %}
{#
    Content
#}
{% block content_wrapper %}
        <!-- Content wrapper start -->
        <div class="content-wrapper">
<form id="pagecontent" action="{{ url_for('preview', path=pagepath) }}" method="post">
<textarea id="content_editor" name="content_editor">{{ content_editor }}</textarea>
</form>
        </div>
        <!-- Content wrapper end -->
{% endblock %}
{#
    Javascript
#}
{% block js %}
{# load the codemirror stuff #}
<script src="{{ url_for("static", filename="js/otterwiki.js") | debug_unixtime }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for("static", filename="js/codemirror.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for("static", filename="js/cm-markdown.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for("static", filename="js/cm-continuelist.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for("static", filename="js/inline-attachment.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for("static", filename="js/codemirror-4.inline-attachment.js") }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var cm_editor = CodeMirror.fromTextArea(document.getElementById("content_editor"), {
        mode: 'markdown',
        lineNumbers: true,
        theme: "otterwiki",
        lineWrapping: true,
        indentWithTabs: false,
        autofocus: true,
        extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"},
      });
{#
thx to https://github.com/sparksuite/simplemde-markdown-editor/issues/328#issuecomment-227075500
#}
    inlineAttachment.editors.codemirror4.attach(cm_editor, {
        uploadUrl: '{{ url_for('inline_attachment', pagepath=pagepath) }}',
        urlText: "![]({filename})",
        onFileUploadResponse: function(xhr) {
            var result = JSON.parse(xhr.responseText),
            filename = result[this.settings.jsonFieldName];

            if (result && filename) {
                var newValue;
                if (typeof this.settings.urlText === 'function') {
                    newValue = this.settings.urlText.call(this, filename, result);
                } else {
                    newValue = this.settings.urlText.replace(this.filenameTag, filename);
                }
                var text = this.editor.getValue().replace(this.lastValue, newValue);
                this.editor.setValue(text);
                this.settings.onFileUploaded.call(this, filename);
            }
            return false;
        }
    });
    document.getElementById('saveform').onsubmit = function() {
        var content_editor = cm_editor.getValue();
        document.getElementById('content_update').value = content_editor;
    };
</script>
{% endblock %}
