{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "page.html" %}
{#
    Head
#}
{% block head %}
{% endblock %}
{% block navbarsearch %}
{#- disable search block #}
{% endblock %}
{% block navbardropdown_outer %}
{#- disable page drop down #}
{% endblock %}
{% block navbar_editor %}
<button onclick="otterwiki_editor.undo()" class="btn btn-editor btn-xs ml-10" title="Undo"><i class="fas fa-undo"></i></button>
<button onclick="otterwiki_editor.redo()" class="btn btn-editor btn-xs" style="margin-left: 0.1rem;" title="Redo"><i class="fas fa-redo"></i></button>
{##}
<button onclick="CodeMirror.commands.find(cm_editor)" class="btn btn-editor btn-xs ml-5 hidden-sm-and-down" title="Search"><i class="fas fa-search"></i></button>
<button onclick="CodeMirror.commands.replace(cm_editor)" class="btn btn-editor btn-xs mr-5 hidden-sm-and-down" title="Find and Replace"><i class="fas fa-search fa-flip-both"></i></button>
{##}
<button onclick="otterwiki_editor.italic()" class="btn btn-editor btn-xs hidden-sm-and-down" title="Italic"><i class="fa fa-italic"></i></button>
<button onclick="otterwiki_editor.bold()" class="btn btn-editor btn-xs ml-5 hidden-sm-and-down" title="Bold"><i class="fa fa-bold"></i></button>
<button onclick="otterwiki_editor.italic()" class="btn btn-editor btn-xs hidden-sm-and-down" title="Italic"><i class="fa fa-italic"></i></button>
<button onclick="otterwiki_editor.strikethrough()" class="btn btn-editor btn-xs hidden-sm-and-down" title="Strikethrough"><i class="fa fa-strikethrough"></i></button>
<button onclick="otterwiki_editor.code()" class="btn btn-editor btn-xs hidden-sm-and-down" title="Code"><i class="fa fa-code"></i></button>
<button onclick="otterwiki_editor.header()" class="btn btn-editor btn-xs ml-5 hidden-sm-and-down" title="Header"><i class="fa fa-heading"></i></button>
{##}
<div class="dropdown">
  <button class="btn btn-editor ml-5 hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-list">
    <i class="fas fa-list-ul"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-150" aria-labelledby="navbar-dropdown-toggle-list">
    <a onclick="otterwiki_editor.ul()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-list-ul"></i>
        </span>
        Unordered List
    </a>
    <a onclick="otterwiki_editor.ol()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-list-ul"></i>
        </span>
        Ordered List
    </a>
    <a onclick="otterwiki_editor.cl()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-check-square"></i>
        </span>
        Checklist
    </a>
  </div>
</div>
{##}
<button onclick="otterwiki_editor.link()" class="btn btn-editor btn-xs ml-5 hidden-sm-and-down" title="Link"><i class="fas fa-link"></i></button>
<button onclick="otterwiki_editor.img()" class="btn btn-editor btn-xs hidden-sm-and-down" title="Picture"><i class="far fa-image"></i></button>
{##}
<div class="dropdown">
  <button class="btn btn-editor ml-5 mr-5 hidden-sm-and-down" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-table">
    <i class="fas fa-table"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-table">
    <a onclick="otterwiki_editor.table()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-table"></i>
        </span>
        Add / Format Table
    </a>
    <a onclick="otterwiki_editor.table_add_row()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-plus-circle"></i>
        </span>
        Add Row
    </a>
    <a onclick="otterwiki_editor.table_remove_row()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-minus-circle"></i>
        </span>
        Remove Row
    </a>
    <a onclick="otterwiki_editor.table_move_row_up()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-arrow-up"></i>
        </span>
        Move Row up
    </a>
    <a onclick="otterwiki_editor.table_move_row_down()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-arrow-down"></i>
        </span>
        Move Row down
    </a>
    <div class="dropdown-divider"></div>
    <a onclick="otterwiki_editor.table_add_column()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-plus-circle"></i>
        </span>
        Add Column
    </a>
    <a onclick="otterwiki_editor.table_remove_column()" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-minus-circle"></i>
        </span>
        Remove Column
    </a>
    <a onclick="otterwiki_editor.table_move_column(-1)" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-arrow-left"></i>
        </span>
        Move Column left
    </a>
    <a onclick="otterwiki_editor.table_move_column(1)" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-arrow-right"></i>
        </span>
        Move Column right
    </a>
     <div class="dropdown-divider"></div>
    <a onclick="otterwiki_editor.table_align_col('left')" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-align-left"></i>
        </span>
        Align left
    </a>
    <a onclick="otterwiki_editor.table_align_col('center')" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-align-center"></i>
        </span>
        Align center
    </a>
    <a onclick="otterwiki_editor.table_align_col('right')" href="#" class="dropdown-item-with-icon">
        <span class="dropdown-icon">
            <i class="fas fa-align-right"></i>
        </span>
        Align right
    </a>
  </div>
</div>
{% endblock %}
{#
    Commit Modal
#}
{% block bodytop %}
<div class="modal" id="modal-commit" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" onclick="otterwiki.toggleModal('modal-commit')" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <h5 class="modal-title">Save {{pagename}}</h5>
      <form id="saveform" action="{{ url_for('save', path=pagepath) }}" method="post" autocomplete="off">
      <input id="content_update" type="hidden" name="content_update" value="">
        <div class="form-group">
{%if config["COMMIT_MESSAGE"] == "REQUIRED"%}
            <label for="commit-message" class="required">Commit Message</label>
            <input name="commit" id="commit-message" type="text" class="form-control" placeholder="Your commit message here" required="required">
{% else %}
            <label for="commit-message">Commit Message</label>
            <input name="commit" id="commit-message" type="text" class="form-control" placeholder="Your (optional) commit message here">
{% endif %}
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Save">
      </form>
    </div>
  </div>
</div>
{% endblock %}
{#
    Sidebar Menu
#}
{% block menu %}
{{ super() }}
{% endblock %}
{#
    extra-navbar
#}
{% block extra_nav -%}
<div id="extranav-attachments">
<h5 class="sidebar-title"><a class="sidebar-title-link" href="{{ url_for('attachments', pagepath=pagepath ) }}">Attachments <i class="fa fa-paperclip"></i></a></h5>
                    <div class="sidebar-divider" ></div>
                    {% for f in files %}
    {#                            <a href="{{f.url}}">{% if f.thumbnail_url %}<img src="{{f.thumbnail_url}}"/>{%else%}{{f.thumbnail_icon|safe}}{%endif%}</a>#}
                        <details class="collapse-panel pb-5">
                          <summary class="collapse-header font-size-12">
                            {{f.filename}}
                          </summary>
                          <div class="position-relative collapse-content font-size-12 extra-nav-attachment">
{% if f.thumbnail_url %}
                            <span class="font-weight-semi-bold">Inline Image:</span>
                            <a href="#" onclick="otterwiki_editor.img('![]({{f.url}})')" class="btn btn-xsm position-absolute" style="right: 3.5rem;"><i class="far fa-image"></i></a>
                            <a href="#" title="Copy to clipboard" onclick="navigator.clipboard.writeText('![]({{f.url}})')" class="btn btn-xsm position-absolute right-02"><i class="fas fa-copy"></i></a>
                            <div class="font-size-10 text-monospace py-5 break-all">![]({{f.url}})</div>
                            <!-- -->
                            <span class="font-weight-semi-bold">Link with Thumbnail:</span>
                            <a href="#" onclick="otterwiki_editor.img('[![]({{f.thumbnail_url}})]({{f.url}})')" class="btn btn-xsm position-absolute" style="right: 3.5rem;"><i class="far fa-image"></i></a>
                            <a href="#" onclick="navigator.clipboard.writeText('[![]({{f.thumbnail_url}})]({{f.url}})')" class="btn btn-xsm position-absolute right-02"><i class="fas fa-copy"></i></a>
                            <div class="font-size-10 text-monospace py-5 break-all">[![]({{f.thumbnail_url}})]({{f.url}})</div>
                            <!-- -->
{% endif %}
                            <span class="font-weight-semi-bold">Link:</span>
                            <a href="#" onclick="otterwiki_editor.img('[{{f.filename}}]({{f.url}})')" class="btn btn-xsm position-absolute" style="right: 3.5rem;"><i class="fas fa-link"></i></a>
                            <a href="#" onclick="navigator.clipboard.writeText('[{{f.filename}}]({{f.url}})')" class="btn btn-xsm position-absolute right-02"><i class="fas fa-copy"></i></a>
                            <div class="font-size-10 text-monospace py-5 break-all">[{{f.filename}}]({{f.url}})</div>
                          </div>
                        </details>
                        {% endfor %}
                        <p class="font-size-12 p-15 text-muted">Additional media can be added via the 'Attachments' of this page, or, you can drag and drop a file into the web editor and it will be uploaded and embedded when the page is saved.</p>
</div>
{{ super() }}
{%- endblock extra_nav %}
{#
    Content
#}
{% block content_wrapper %}
<!-- Content wrapper start -->
<form id="pagecontent" action="{{ url_for('preview', path=pagepath) }}" method="post">
<textarea id="content_editor" name="content_editor">{{ content_editor }}</textarea>
<div id="editor_block" style="display: block;"></div>
</form>
<div id="preview_block" style="display: none; background-image: url('{{ url_for("static", filename="img/preview.png") | debug_unixtime }}');"></div>
<div id="editor-bottom-panel" class="editor-bottom-panel" style="display:none;">
    <a href="#" onclick="otterwiki.toggleMarkdownHelp()" class="btn btn-xsm"><i class="fab fa-markdown"></i> Markdown Syntax</a>
    <div id="editor-help-markdown" class="content card border rounded-top p-5" style="display: none;">
        <a href="{{ url_for("syntax") }}" class="btn btn-xsm" target="_blank" style="float:right;">
            <i class="fas fa-expand-arrows-alt"></i>
                    Full Syntax Guide
        </a>

          {% include "snippets/syntax.html" %}
    </div>
</div>
<!-- Content wrapper end -->
{% endblock %}
{#
    Navbar
#}
{% block navbar %}
<a href="{{ url_for('view', path=pagepath) }}" class="btn btn-danger mr-5" role="button"><i class="fas fa-window-close"></i></a>
<button class="btn btn-success mr-5" onclick="otterwiki.toggleModal('modal-commit')"><i class="fas fa-save"></i></button>
<button id="preview_btn" class="btn btn-primary" style="width: 1rem;" onclick="otterwiki.toggle_preview(true);"><i class="far fa-eye" ></i></button>
<button id="editor_btn" class="btn btn-primary" style="width: 1rem; display:none;" onclick="otterwiki.toggle_preview(false);"><i class="fas fa-pencil-alt"></i></button>
{% endblock %}
{#
    Javascript
#}
{% block js %}
{{ super() }}
{# load the codemirror stuff #}
<script src="{{ url_for("static", filename="js/cm6/cm6.bundle.min.js") | debug_unixtime }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    const editorSource = document.querySelector("#content_editor");
    const editor_block = document.querySelector("#editor_block");
    const preview_block = document.querySelector("#preview_block");
    const initialState = cm6.createEditorState(
        {# strip trailing new line to prevent cm6 to add an empty line #}
        editorSource.value.replace(/^\s+|\s+$/g, '')
    );
    const cm_editor = cm6.createEditorView(initialState, editor_block );
    {# Get the doc from the editor and copy it into the modals form hidden input #}
    document.getElementById('saveform').onsubmit = function() {
        document.getElementById('content_update').value = cm_editor.state.doc.toString();
    };
    const preview_btn = document.querySelector("#preview_btn");
    const editor_btn = document.querySelector("#editor_btn");
    const sidebar_toc = document.querySelector("#sidebar-toc");
    const extranav_toc = document.querySelector("#extranav-toc");
    const extranav_attachments = document.querySelector("#extranav-attachments");

    preview_btn.onclick = function() {
        {# toggle preview/edit #}
        preview_block.style.display = 'block';
        editor_block.style.display = 'none';
        editor_btn.style.display = '';
        preview_btn.style.display = 'none';
        extranav_attachments.style.display = 'none';

        const formData = new FormData();
        formData.append("content", cm_editor.state.doc.toString());
        formData.append("cursor_line",
            cm_editor.state.doc.lineAt(cm_editor.state.selection.main.head).number
            )

        /* FIXME: display loader */
        //preview_block.innerHTML = cm_editor.state.doc.toString();
        fetch("{{ url_for('preview', path=pagepath) }}", {
                method: 'POST',
                body: formData,
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                preview_block.innerHTML = data.content;
                sidebar_toc.innerHTML = data.toc;
                extranav_toc.innerHTML = data.toc;
            })
            .then(function () {
                cursor = document.getElementById("otterwiki_cursor");
                console.log(cursor);
                if (cursor) {
                    cursor.scrollIntoView();
                }
            })
            .catch(function () {
                console.log('Error fetching preview ...');
            });
    }
    editor_btn.onclick = function() {
        {# toggle preview/edit #}
        preview_block.style.display = 'none';
        editor_block.style.display = 'block';
        extranav_attachments.style.display = 'block';
        editor_btn.style.display = 'none';
        preview_btn.style.display = '';
        sidebar_toc.innerHTML = '';
        extranav_toc.innerHTML = '';
        // TODO: focus editor
        cm_editor.focus()
    }
</script>
{% endblock %}
