{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "page.html" %}
{% block content %}
<h1>Page title <a id="toc-1" href="#toc-1" class="ml-5 text-decoration-none">#</a></h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt pellentesque dolor id mollis. Quisque placerat, neque at auctor ultricies, nibh mauris pellentesque lorem, at suscipit neque nisi non metus. Nunc facilisis nunc ut metus ullamcorper cursus. Donec porta orci vitae odio blandit, ut tempus urna interdum. Curabitur sed pulvinar sem, id rutrum magna. Cras fringilla elit lorem, et bibendum nisi hendrerit sit amet. Maecenas varius felis nec arcu rutrum fermentum. Phasellus fermentum mauris varius, vulputate erat a, varius nulla. Nulla vitae volutpat mi, eget fringilla sem. Nam eget eleifend ligula. Proin vestibulum odio quis libero malesuada ultrices. </p>
<h2>Sub title</h2>

<p>Cras mollis erat vitae orci rhoncus maximus. Sed id pretium massa, nec maximus ex. In rhoncus odio diam, at pellentesque ex consequat quis. Cras at nisl accumsan, elementum ex vel, congue erat. Aliquam facilisis vestibulum hendrerit. Praesent ultricies, nunc vitae posuere euismod, nisl arcu finibus lacus, eu sollicitudin sem nulla ut velit. Nunc vulputate, orci vel volutpat varius, lacus elit lobortis tellus, a suscipit neque dolor ac odio. Aenean id enim tellus.</p>
<h3>Table</h3>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First</th>
      <th>Last</th>
      <th class="text-right">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>John</td>
      <td>Doe</td>
      <td class="text-right">25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Jane</td>
      <td>Violet</td>
      <td class="text-right">27</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Jack</td>
      <td>Gates</td>
      <td class="text-right">33</td>
    </tr>
  </tbody>
</table>

<h3>List</h3>

<ul>
  <li>Add the class <code class="code">.some-class</code> to the element to format it.</li>
  <li><code class="code">10 + 5 = 15</code></li>
  <li>The formula for force is <code class="code">f = ma</code>.</li>
<ul>
<li>a</li>
<li>b</li>
<li>b</li>
</ul>
</ul>

<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras mattis dui odio, eu laoreet nisl venenatis tristique. Maecenas elementum felis at eleifend ullamcorper. Proin in ipsum at eros fringilla porttitor. Donec at iaculis lacus, at ornare velit. Nulla ornare eleifend dolor in accumsan. Integer a molestie elit. Cras pellentesque metus vel fermentum fringilla. Morbi egestas sodales diam sed ultricies. In hac habitasse platea dictumst. Curabitur dui arcu, ornare at nisl sit amet, cursus euismod dui. Pellentesque tincidunt velit vitae turpis mattis dignissim. Maecenas at tempus enim. Fusce commodo, mi a auctor semper, lorem lacus varius quam, quis varius est ipsum ac sapien.</p>
<ol>
<li>Interdum</li>
<li>malesuada</li>
<li>Fames ac</li>
</ol>

<h1>Another title <a id="toc-2" href="#toc-2" class="ml-6 text-decoration-none">#</a></h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt pellentesque dolor id mollis. Quisque placerat, neque at auctor ultricies, nibh mauris pellentesque lorem, at suscipit neque nisi non metus. Nunc facilisis nunc ut metus ullamcorper cursus. Donec porta orci vitae odio blandit, ut tempus urna interdum. Curabitur sed pulvinar sem, id rutrum magna. Cras fringilla elit lorem, et bibendum nisi hendrerit sit amet. Maecenas varius felis nec arcu rutrum fermentum. Phasellus fermentum mauris varius, vulputate erat a, varius nulla. Nulla vitae volutpat mi, eget fringilla sem. Nam eget eleifend ligula. Proin vestibulum odio quis libero malesuada ultrices. </p>

<p>Cras mollis erat vitae orci rhoncus maximus. Sed id pretium massa, nec maximus ex. In rhoncus odio diam, at pellentesque ex consequat quis. Cras at nisl accumsan, elementum ex vel, congue erat. Aliquam facilisis vestibulum hendrerit. Praesent ultricies, nunc vitae posuere euismod, nisl arcu finibus lacus, eu sollicitudin sem nulla ut velit. Nunc vulputate, orci vel volutpat varius, lacus elit lobortis tellus, a suscipit neque dolor ac odio. Aenean id enim tellus.</p>
{% endblock %}
