{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "form.html" %}
{% block formcontent %}
<form action="{{ url_for("login") }}" method="POST" class="form-inline">{# <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% --> #}
{% if next %}
    <input type="hidden" name="next" value="{{next}}">
{% endif %}
  <div class="form-group">
    <label for="email" class="required w-100">eMail Address</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="you@example.com" value="{{email if email}}" autofocus>
  </div>
  <div class="form-group">
    <label for="password" class="required w-100">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <div class="custom-switch">
        <input type="checkbox" id="remember-my-information" name="remember" {{"checked" if remember}}>
      <label for="remember-my-information">Remember me</label>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Login">

  {% if not config.DISABLE_REGISTRATION %}
  <a href="{{ url_for("register") }}" class="btn btn-link" role="button">Register</a>
  {% endif %}

  <a href="{{ url_for("lost_password") }}" class="btn btn-link" role="button">Lost your password?</a>
</form>
{% endblock %}
