{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "wiki.html" %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1" style="margin-left:auto; margin-right:auto;">
        <form class="pure-form pure-form-aligned" method="post" action="{{ url_for(".lost_password") }}">
    <fieldset>
        <div class="pure-control-group">
                <legend>What is your eMail address?</legend>
        </div>
        <div class="pure-control-group">
            <label for="email">eMail Address</label>
            <input id="email" type="email" name="email">
            <span class="pure-form-message-inline">You will receive an eMail with a recovery link.</span>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
            <a href="{{ url_for('.login') }}" class="pure-button">Login</a>
        </div>
    </fieldset>
</form>
    </div>
</div>
{% endblock %}
