{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
{% extends "wiki.html" %}
{% block js %}
{{ super() }}
<script src="{{ url_for("static", filename="js/polyfill.e6.min.js") | debug_unixtime }}"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"]],
                displayMath: [ ['\\[', '\\]'], ],
                processEscapes: true,
            }
        };
    </script>
    <script id="MathJax-script" async src="{{ url_for("static", filename="mathjax/tex-chtml.js") | debug_unixtime }}"></script>
{% endblock %}
{% block menu %}
{{ super() }}
{% endblock %}
{% block breadcrumbs %}
{% if breadcrumbs %}
<nav aria-label="Breadcrumb navigation example">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}"><i class="fas fa-home"></i></a></li>
{% for bname, bpath in breadcrumbs %}
{% if not loop.last %}
{# TODO recheck when subdirectories are implemented #}
<li class="breadcrumb-item"><a href="{{ url_for('view', path=bpath) }}">{{bname}}</a></li>
{% else %}
<li class="breadcrumb-item"><a href="{{ url_for('view', path=bpath) }}">{{bname}}</a></li>
{% endif %}
{% endfor %}
{%if revision %}
<li class="breadcrumb-item"><a href="{{ url_for('history', path=pagepath, revision=revision ) }}"><span class="revision-small">{{revision}}</span></a></li>
{% endif %}
</li>
 </ul>
</nav>
{% endif %}
{% endblock %}
{#
#}
{% block navbardropdown %}
                    <a href="{{ url_for('attachments', pagepath=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fa fa-paperclip"></i>
                        </span>
                        Attachments
                    </a>
                    <a href="{{ url_for('history', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-file-alt"></i>
                        </span>
                        History
                    </a>
                    <a href="{{ url_for('blame', path=pagepath, revision=resivion) if revision else url_for('blame', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fas fa-people-arrows"></i>
                        </span>
                        Blame
                    </a>
{% if has_permission('WRITE') %}
                    <a href="{{ url_for('rename', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-edit"></i>
                        </span>
                        Rename
                    </a>
                    <a href="{{ url_for('delete', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-trash-alt"></i>
                        </span>
                        Delete
                    </a>
{% endif %}
                    <div class="dropdown-divider mt-5 mb-5"></div>
{{ super() }}
{% endblock %}
{#
#}
{% block navbar %}
{% if has_permission('WRITE') %}
<a href="{{ url_for('edit', path=pagepath) }}" class="btn btn-primary" role="button"><i class="fas fa-pencil-alt"></i></a>
{% else %}
<a href="{{ url_for('login') }}" class="btn" role="button"><i class="fas fa-sign-in-alt" title="Login"></i></a>
{% endif %}
{% endblock %}
{#
#}
{% block content %}
<div class="page">
{{htmlcontent|safe}}
</div>
{{content}}
{% endblock %}
