{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
{% extends "wiki.html" %}
{%block head %}
{{ super() }}
{%-if revision %}
<meta name="robots" content="noindex"/>
{%-endif%}
{% endblock %}
{% block js %}
{{ super() }}
{% include 'snippets/renderer_js.html' %}
{% endblock %}
{% block menu %}
{{ super() }}
{% include 'snippets/menu.html' %}
{% include 'snippets/menutree.html' %}
{% endblock %}
{#
#}
{% block navbardropdown %}
                    <a href="{{ url_for('attachments', pagepath=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fa fa-paperclip"></i>
                        </span>
                        Attachments
                    </a>
                    <a href="{{ url_for('history', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-file-alt"></i>
                        </span>
                        History
                    </a>
                    <a href="{{ url_for('blame', path=pagepath, revision=resivion) if revision else url_for('blame', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fas fa-people-arrows"></i>
                        </span>
                        Blame
                    </a>
{% if has_permission('READ') and not has_permission('WRITE') %}
                    <a href="{{ url_for('source', pagepath=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fab fa-markdown"></i>
                        </span>
                        View Source
                    </a>
{% endif %}
{% include 'snippets/navbardropdown_rename_remove.html' %}
                    <div class="dropdown-divider mt-5 mb-5"></div>
{{ super() }}
{% endblock %}
{#
#}
{% block navbar %}
{% if has_permission('WRITE') %}
<a href="{{ url_for('edit', path=pagepath) }}" class="btn btn-primary" role="button" title="Edit Page"><i class="fas fa-pencil-alt"></i></a>
{% elif not current_user.is_authenticated %}
<a href="{{ url_for('login') }}" class="btn" role="button"><i class="fas fa-sign-in-alt" title="Login"></i></a>
{% endif %}
{% endblock %}
{#
#}
{% block content %}
<div class="page">
{{htmlcontent|safe}}
</div>
{{content}}
{% endblock %}
