{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
{% extends "wiki.html" %}
{% block js %}
{{ super() }}

<script>

    document.querySelector('#wiki-content').addEventListener('scroll', () => {
        console.log('scroll event fired!')
     });

    let last_known_scroll_position = 0;
    let ticking = false;

    function doSomething(scroll_pos) {
      let c = document.getElementById('wiki-content');
        console.log(c);
    }

    window.addEventListener('scroll', (e) => {
      last_known_scroll_position = window.scrollY;

      if (!ticking) {
        window.requestAnimationFrame(() => {
          doSomething(last_known_scroll_position);
          ticking = false;
        });

        ticking = true;
      }
    });
</script>

<script src="{{ url_for("static", filename="js/polyfill.e6.min.js") | debug_unixtime }}"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"]],
                displayMath: [ ['\\[', '\\]'], ],
                processEscapes: true,
            }
        };
    </script>
    <script id="MathJax-script" async src="{{ url_for("static", filename="mathjax/tex-chtml.js") | debug_unixtime }}"></script>
{% endblock %}
{% block menu %}
{{ super() }}
{% endblock %}
{% block breadcrumbs %}
{% if breadcrumbs %}
<nav aria-label="Breadcrumb navigation example">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}"><i class="fas fa-home"></i></a></li>
{% for bname, bpath in breadcrumbs %}
{% if not loop.last %}
{# TODO recheck when subdirectories are implemented #}
{#   At first, I also thought thus would need to be checked for folders, but I actually
     think its much easier to let the backend try and do a match for a page OR folder. This will work
     as long as we block a folder and a page (on the same level) from having the same name. ie:
     repository/
         some_wiki/
         some_wiki.md
#}
<li class="breadcrumb-item"><a href="{{ url_for('view', path=bpath) }}">{{bname}}</a></li>
{% else %}
<li class="breadcrumb-item"><a href="{{ url_for('view', path=bpath) }}">{{bname}}</a></li>
{% endif %}
{% endfor %}
{%if revision %}
<li class="breadcrumb-item"><a href="{{ url_for('history', path=pagepath, revision=revision ) }}"><span class="revision-small">{{revision}}</span></a></li>
{% endif %}
</li>
 </ul>
</nav>
{% endif %}
{% endblock %}
{#
#}
{% block navbardropdown %}
                    <a href="{{ url_for('attachments', pagepath=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fa fa-paperclip"></i>
                        </span>
                        Attachments
                    </a>
                    <a href="{{ url_for('history', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-file-alt"></i>
                        </span>
                        History
                    </a>
                    <a href="{{ url_for('blame', path=pagepath, revision=resivion) if revision else url_for('blame', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fas fa-people-arrows"></i>
                        </span>
                        Blame
                    </a>
{% if has_permission('WRITE') %}
                    <a href="{{ url_for('rename', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-edit"></i>
                        </span>
                        Rename
                    </a>
                    <a href="{{ url_for('delete', path=pagepath) }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-trash-alt"></i>
                        </span>
                        Delete
                    </a>
{% endif %}
                    <div class="dropdown-divider mt-5 mb-5"></div>
{{ super() }}
{% endblock %}
{#
#}
{% block navbar %}
{% if has_permission('WRITE') %}
<a href="{{ url_for('edit', path=pagepath) }}" class="btn btn-primary" role="button"><i class="fas fa-pencil-alt"></i></a>
{% else %}
<a href="{{ url_for('login') }}" class="btn" role="button"><i class="fas fa-sign-in-alt" title="Login"></i></a>
{% endif %}
{% endblock %}
{#
#}
{% block content %}
<div class="page">
    <div class="container-fluid">
        <div class="row">
      <!-- Flex grow by a factor of 1 -->
            <div class="col-xl-9" id="wiki-content">{{htmlcontent|safe}}</div>
            <div class="col-lg-3" >
{#                                            Adding this height is pretty hacky, as it won't extend exactly
                                            to the bottom of the page, but I think its good enough for now. #}
                <div class="position-fixed" style="overflow-y: scroll;height: 75%;">

                    <div class="pl-20 pb-15 pt-5">
                        {% if has_permission('WRITE') %}
                    <a href="{{ url_for('edit', path=pagepath) }}" class="btn btn-primary" role="button"><i class="fas fa-pencil-alt pr-5"></i> Edit Page</a>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="btn" role="button"><i class="fas fa-sign-in-alt" title="Login"></i> Login to Edit Page</a>
                    {% endif %}
                    </div>
                    <div>
                        <h5 class="sidebar-title">Table of contents</h5>
                        <div class="sidebar-divider" ></div>
                        {% for count, name, level, raw, anchor in toc %}
                            <a href="#{{anchor}}" class="sidebar-link sidebar-toc-{{level}}">{{name|safe}}</a>
                        {% endfor %}

                        <br>
                        <h5 class="sidebar-title">Attachments</h5>
                        <div class="sidebar-divider" ></div>
                        <div>
                            {% for f in files %}
                                <a class="sidebar-link" href="{{ url_for("edit_attachment", pagepath=pagepath, filename=f.filename) }}">{{f.filename}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{content}}
{% endblock %}
