{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "wiki.html" %}
{% block content %}
<div class="w-600 mw-full">
<h2>Settings</h2>
{#
#}
<div class="card">
<h2 class="card-title">Change Password</h2>
<form action="{{url_for("settings")}}" method="POST">
  <div class="form-group">
    <label for="password" class="required">New Password</label>
    <input name="password1" type="password" class="form-control" id="password" placeholder="Password">
    <div class="form-text">
      Must be at least 8 characters long.
    </div>
  </div>
  <div class="form-group">
    <label for="confirm-password" class="required">Confirm password</label>
    <input name="password2" type="password" class="form-control" id="confirm-password" placeholder="Confirm password">
  </div>
  <input class="btn btn-primary" type="submit" value="Update Password">
</form>
</div>
{#
#}
{% if has_permission("ADMIN") %}
<div class="card">
<form action="{{url_for("settings")}}" method="POST">
<h2 class="card-title">User Management</h2>
<div class="table-responsive table-striped">
  <table class="table">
    <thead>
      <tr>
        <th>eMail</th>
        <th>Name</th>
        <th>Approved</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
{% for user in user_list %}
      <tr>
        <td>
            {{user.email}}
        </td>
        <td>
            {{user.name}}
        </td>
        <td>
          <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-a-{{user.id}}" name="is_approved" value="{{user.id}}" {{"checked=\"checked\"" if user.is_approved  }}>
            <label for="checkbox-a-{{user.id}}"></label>
          </div>
        </td>
        <td>
          <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-b-{{user.id}}" name="is_admin" value="{{user.id}}" {{ "checked=\"checked\"" if user.is_admin }}>
            <label for="checkbox-b-{{user.id}}"></label>
          </div>
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  </div>
  <div class="mt-10">
    <input class="btn btn-primary" name="update_permissions" type="submit" value="Update Permissions">
  </div>
</form>
</div>
{% endif %}
{#
#}
{#
<div class="card">
<h2 class="card-title">Debug</h2>
<ul>
    <li>READ {{"True" if has_permission("READ") else "False"}}</li>
    <li>WRITE {{"True" if has_permission("WRITE") else "False"}}</li>
    <li>UPLOAD {{"True" if has_permission("UPLOAD") else "False"}}</li>
    <li>ADMIN {{"True" if has_permission("ADMIN") else "False"}}</li>
</ul>
</div>
#}
{#
#}
</div>

{% endblock %}
