{# vim: set et ts=8 sts=2 sw=2 ai: #}
{% extends "page.html" %}
{% block title %}
  <title>Otter Wiki - Markdown Guide</title>
{% endblock %}
{% block navbarmain %}
{% endblock %}
{% block sidebaroverlay %}
{% endblock %}
{% block page_wrapper_config -%}{%-endblock%}
{% block content %}
<div class="content">
<h2>Otter Wiki - Markdown Guide</h2>
{% include "snippets/syntax.html" %}

<h4>Finally</h4>
There's actually a lot more to Markdown than this. See the official
<a href="http://daringfireball.net/projects/markdown/basics">introduction</a> and
<a href="http://daringfireball.net/projects/markdown/syntax">syntax</a> for more information.

Please Note: An Otter Wiki is not using the official implementation. This might lead to small differences in the little things.

</div>
{% endblock %}

