{# vim: set et ts=8 sts=2 sw=2 ai: #}
{% extends "page.html" %}
{% block title %}
  <title>Otter Wiki - Markdown Guide</title>
{% endblock %}
{% block navbarmain %}
{% endblock %}
{% block sidebaroverlay %}
{% endblock %}
{% block page_wrapper_config -%}{%-endblock%}
{% block content %}
<div class="content">
<h2>Otter Wiki - Markdown Guide</h2>
<h4>Emphasis</h4>
<div class="row">
<div class="col-md-6 col-sm-12">
<pre>**<strong>bold</strong>**
*<em>italics</em>*
~~<strike>strikethrough</strike>~~</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
<strong>bold</strong><br/>
<em>italics</em><br/>
<strike>strikethrough</strike><br/>
</div>
</div>

<h4>Headers</h4>

<div class="row align-bottom my-5">
<div class="col-md-6 col-sm-12 align-bottom"><code># h1 - Large header</code></div>
<div class="col-md-6 col-sm-12"><h1 class="p-0 m-0">h1 - Large Header</h1></div>
</div>
<div class="row align-bottom my-5">
<div class="col-md-6 col-sm-12 align-bottom"><code>## h2 - Medium header</code></div>
<div class="col-md-6 col-sm-12"><h2 class="p-0 m-0">h2 - Medium Header</h2></div>
</div>
<div class="row align-bottom my-5">
<div class="col-md-6 col-sm-12 align-bottom"><code>### h3 - Small header</code></div>
<div class="col-md-6 col-sm-12"><h3 class="p-0 m-0">h3 - Small Header</h3></div>
</div>
<div class="row align-bottom my-5">
<div class="col-md-6 col-sm-12 align-bottom"><code>#### h4 - Tiny header</code></div>
<div class="col-md-6 col-sm-12"><h4 class="p-0 m-0">h4 - Tiny Header</h4></div>
</div>
</table>
<h4>Lists</h4>
<div class="row">
<div class="col-md-6 col-sm-12">
<pre>- Generic list item
- Generic list item
- Generic list item</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
<ul class="p-0 m-0">
  <li class="p-0 m-0">Generic list item</li>
  <li class="p-0 m-0">Generic list item</li>
  <li class="p-0 m-0">Generic list item</li>
</ul>
</div>
</div>
<br/>
<div class="row">
<div class="col-md-6 col-sm-12">
<pre>1. Numbered list item
2. Numbered list item
3. Numbered list item</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
<ol class="p-0 m-0">
  <li class="p-0 m-0">Numbered list item</li>
  <li class="p-0 m-0">Numbered list item</li>
  <li class="p-0 m-0">Numbered list item</li>
</ol>
</div>
</div>

<h4>Links</h4>
<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="text-wrap">[[WikiPage]]</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
<a href="#">WikiPage</a>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="text-wrap">[[Text to display|WikiPage]]</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
  <a href="#">Text to display</a>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="text-wrap">http://www.example.com</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
  <a href="#">http://example.com</a>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="text-wrap">[Example Link with text](http://example.com)</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
  <a href="#">Example link with text</a>
</div>
</div>

<h4>Quotes</h4>
<div class="row">
<div class="col-md-6 col-sm-12">
<pre>&gt; This is a quote.
&gt; It can span multiple lines!
&gt;&gt; And multiple levels.
&gt;&gt; *<em>With markdown syntax.</em>*</pre>
</div>
<div class="col-md-6 col-sm-12 page">
<blockquote class="m-t-0" style="margin-block-start: 0"><p style="margin-block-start: 0">This is a quote.
It can span multiple lines!</p>
<blockquote style="margin-block-start: 0"><p style="margin-block-start: 0">And multiple levels.</br>
<em>With markdown syntax.</em></p>
</blockquote>
</blockquote>
</div>
</div>

<h4>Images &nbsp;</h4>
<p>You can copy n paste images directly into the editor, theey will be uploaded as attachments.</p>
<pre>![](http://www.example.com/image.jpg)</pre>
<p>Check the attachments of a page, there are links for copy'n'paste.</p>

<h4>Tables</h4>

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre>| Column 1 | Column 2 | Column 3 |
| -------- | -------- | -------- |
| John     | Doe      | Peach    |
| Mary     | Smith    | Banana   |</pre>
</div>
<div class="col-md-6 col-sm-12 p-5 page">
<table>
<thead><tr>
<th>Column 1</th>
<th>Column 2</th>
<th>Column 3</th>
</tr>
</thead>
<tbody>
<tr>
<td>John</td>
<td>Doe</td>
<td>Peach</td>
</tr>
<tr>
<td>Mary</td>
<td>Smith</td>
<td>Banana</td>
</tr>
</tbody>
</table>
</div>
</div>

<h4>Code</h4>

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="text-wrap">Inline code `int n = 1` with backticks.</pre></div>
<div class="col-md-6 col-sm-12 p-5">
Inline code <code>int n = 1</code> with backticks.
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre>```
Code Blocks
```</pre></div>
<div class="col-md-6 col-sm-12 p-5">
<pre>Code Blocks</pre>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre>```python
#!/usr/bin/env python
assert 1 + 1 == 2
print("Hello World!")```</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
<div class="highlight"><pre><span></span><span class=".highlight ch">#!/usr/bin/env python</span>
<span class=".highlight k">assert</span> <span class=".highlight mi">1</span> <span class=".highlight o">+</span> <span class=".highlight mi">1</span> <span class=".highlight o">==</span> <span class=".highlight mi">2</span>
<span class=".highlight nb">print</span><span class=".highlight p">(</span><span class=".highlight s2">&quot;Hello World!&quot;</span><span class=".highlight p">)</span>
</pre></div>
</div>
</div>

<h4>Mathjax</h4>

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="text-wrap">Inline math: `$a^2+b^2=c^2$`</pre></div>
<div class="col-md-6 col-sm-12 p-5">
Inline Math: \(a^2+b^2=c^2\)
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
  <pre>
Math block:
```math
a^2+b^2=c^2
```
</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
Math block:</br>
\[a^2+b^2=c^2\]
</div>
</div>

<h4>Finally</h4>
There's actually a lot more to Markdown than this. See the official
<a href="http://daringfireball.net/projects/markdown/basics">introduction</a> and
<a href="http://daringfireball.net/projects/markdown/syntax">syntax</a> for more information.

Please Note: An Otter Wiki is not using the official implementation. This might lead to small differences in the little things.
</div>
{% endblock %}

