{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
{% extends "layout.html" %}
{% block menu %}
                <a href="{{ url_for("index") }}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fas fa-home"></i>
                    </span>
                    Home
                </a>
{% if has_permission('READ') %}
                <a href="{{ url_for("pageindex") }}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="fas fa-list"></i>
                    </span>
                    A - Z
                </a>
{% endif %}
{% if has_permission('WRITE') %}
                <a href="{{ url_for("create") }}" class="sidebar-link sidebar-link-with-icon">
                    <span class="sidebar-icon">
                        <i class="far fa-file"></i>
                    </span>
                    Create page
                </a>
{% endif %}
                <br />
                <div class="sidebar-toc d-xl-none">
                {% include 'snippets/toc.html' %}
                </div>
{% endblock %}

{% block navbardropdown %}
{% if has_permission('WRITE') %}
                    <a href="{{ url_for("create") }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="far fa-file"></i>
                        </span>
                    Create page
                    </a>
{% endif %}
{% if has_permission('READ') %}
                    <a href="{{ url_for("changelog") }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fas fa-history"></i>
                        </span>
                    Changelog
                    </a>
{% endif %}
                    <a href="{{ url_for("help") }}" class="dropdown-item-with-icon">
                        <span class="dropdown-icon">
                            <i class="fas fa-question-circle"></i>
                        </span>
                    Documentation
                    </a>
{{ super() }}
{% endblock %}
{##}
{% block breadcrumbs %}
{% if breadcrumbs %}
<nav aria-label="Breadcrumb navigation example">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}"><i class="fas fa-home"></i></a></li>
{% for bname, bpath in breadcrumbs %}
<li class="breadcrumb-item"><a href="{{ url_for('view', path=bpath) }}">{{bname}}</a></li>
{% endfor %}
{%if revision %}
<li class="breadcrumb-item"><a href="{{ url_for('history', path=pagepath, revision=revision ) }}"><span class="revision-small">{{revision}}</span></a></li>
{% endif %}
</li>
 </ul>
</nav>
{% endif %}
{% if danger_alert %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">{{ danger_alert[0] }}</h4>
  {{ danger_alert[1] | safe}}
</div>
{% endif %}
{% endblock %}
{##}
{% block extra_nav -%}
{%- include 'snippets/toc.html' -%}
{%- endblock %}
