/* Otterwiki Theme */

.cm-editor {
  height: calc(100vh - 8rem);
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.cm-activeLine {
  background: #FFFAE3;
}

.cm-matchingBracket {
  outline: 1px solid grey;
  color: black !important;
}

/* Based on arcticicestudio's Nord theme */
/* https://github.com/arcticicestudio/nord */

.dark-mode .cm-editor {
  background: #25282c;
  color: #d8dee9;
}

.dark-mode .cm-selectionBackground {
  background: #434c5e;
}

.dark-mode .cm-line::selection,
.dark-mode .cm-line > span::selection,
.dark-mode .cm-line > span > span::selection {
  background: #3b4252;
}

.dark-mode .cm-line::-moz-selection,
.dark-mode .cm-line > span::-moz-selection,
.dark-mode .cm-line > span > span::-moz-selection {
  background: #3b4252;
}

.dark-mode .cm-gutters {
  background: #25282c;
  border-right: 1px solid #4c566a;
}

.dark-mode .cm-lineNumbers .cm-gutterElement {
  color: #4c566a;
}

.dark-mode .cm-cursor {
  border-left: 1px solid #f8f8f0;
}

.dark-mode .cm-activeLine {
  background: #3b4252;
}

.dark-mode .cm-matchingBracket {
  text-decoration: underline;
  color: white !important;
}
