.cm-panel {
  padding: .1em .8em;
  overflow: hidden;
  background-color: #fff;
  color: #000;
}

.dark-mode .cm-panel {
  background: #25282c;
  color: #d8dee9;
}

.cm-panel input {
  border: none;
  outline: none;
  background-color: inherit;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.cm-panel button {
  font-size: 70%;
  color: var(--lm-button-text-color);
  background-color: var(--lm-button-bg-color);
}

.dark-mode .cm-panel button {
  font-size: 70%;
  color: var(--dm-button-text-color);
  background-color: var(--dm-button-bg-color);
}
